@model StudentManagementSystem.Models.tblRegistration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblBatch.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBatch.Batch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCourse.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCourse.Course)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegisterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
